body {
    font-family: Arial, serif;
    font-size: 16px;
    margin: 0;
}
#main {
    background-image: url(./images/header_bg.png);
    background-size: cover;
    background-position: center;
}
h2 {
    margin: 0;
    font-size: 35px;
    color: #8d6ad7;
}
input {
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    width: 224px;
    height: 60px;
}
.logo {
    font-weight: bold;
    color: #f5da0b;
}
.star {
    vertical-align: bottom;
    margin-right: 12px;
}
/*header*/

#header_container, #course_container, 
#favourite_course_container,#about_course_container,
#footer_container {
    max-width: 1200px;
    margin: 0 auto;
}
#header {
    padding: 35px 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#header_logo {
    margin-right: 280px;
}
.header_link {
    text-decoration: none;
    color: #ede0f8;
    font-weight: bold;

    margin-right: 50px;
}

/*course*/

#course {
    padding: 150px 0 200px 0;
}
#course_title {
    font-size: 45px;
    color: #ffffff;

    margin: 0;
    max-width: 455px;
} 
#course_info {
    color: #ffffff;

    margin-top: 90px;
} 
#course_button_subscribe {
    color: #ffffff;
    border: 2px solid #ffffff;

    margin-top: 100px;
}

/*favourite*/

#favourite_course {
    padding: 140px 0;
}
#favourite_course_list {    
    margin-top: 68px;
}
.favourite_course_item {
    margin-top: 15px;
}
.favourite_course_item_text {
    
    color: #311b5e;
} 

/*about_course*/

 #about_course_wrapper {
 background-image: url(./images/footer_bg.png);
 background-size: cover;
 background-position: center;

 padding: 140px 0 0 0;
}
#about_course_container, #footer_container {
    text-align: center;
}
#about_course {
    max-width: 990px;
    background-color: #fff;
    border-radius: 20px;

    margin: 0 auto;
    padding: 60px 0 40px 0;
}
#about_course_title {
    margin-bottom: 40px;
}
.about_course_text {
    color: #311b5e;
    line-height: 1.5;
    
    max-width: 595px;
    margin: 0 auto 30px auto;
} 
#about_course_text_chernov {
    font-weight: bold;
}
#about_course_button_subscribe {
    color: #b180e4;
    border: 2px solid #b180e4;

    margin-top: 10px;
}

/*footer*/

#footer {
    border-top: 1px solid rgba(255,255,255,0.2);;

    margin-top: 140px;
    padding: 45px 0;
}
